<div class="navigation-wrapper">
	<nav role="navigation" id="site-nav" class="animated drop">
	    <ul>
      {% for link in site.data.navigation %}
		    {% if link.url contains 'http' %}
		        {% assign domain = '' %}
		        {% else %}
		        {% assign domain = site.url %}
		    {% endif %}
		    <li><a href="{{ domain }}{{ link.url }}" {% if link.url contains 'http' %}target="_blank"{% endif %}>{{ link.title }}</a></li>
		  {% endfor %}
	    </ul>
	</nav>
</div><!-- /.navigation-wrapper -->

{% include browser-upgrade.html %}

{% if page.image.feature %}<header class="masthead">
	{% if site.logo != null %}
		<div class="wrap">
      <i class="fa fa-fire fa-10x site-logo animated fadeInDown"></i>
      <!--<i class="fa fa-calendar-o fa-5x"></i>-->
      <!--<a href="{{ site.url }}/" class="site-logo" rel="home" title="{{ site.title }}"><div><i class="fa fa-calendar-o fa-5x"></i></div></a>-->
			<!--<a href="{{ site.url }}/" class="site-logo" rel="home" title="{{ site.title }}"><img src="{{ site.url }}/images/{{ site.logo }}" width="200" height="200" alt="{{ site.title }} logo" class="animated fadeInDown"></a>-->
		</div>
	{% endif %}
</header><!-- /.masthead -->
{% else %}<header class="masthead">
	<div class="wrap">
      <i class="fa fa-fire fa-10x site-logo animated fadeInDown"></i>
      <!--<a href="{{ site.url }}/" class="site-logo" rel="home" title="{{ site.title }}"><div><i class="fa fa-calendar-o fa-5x"></i></div></a>-->

      <!--{% if site.logo != null %}-->
  		<!--<a href="{{ site.url }}/" class="site-logo" rel="home" title="{{ site.title }}"><img src="{{ site.url }}/images/{{ site.logo }}" width="200" height="200" alt="{{ site.title }} logo" class="animated fadeInDown"></a>-->
      <!--{% endif %}-->
      <h1 class="site-title animated fadeIn"><a href="{{ site.url }}/">{{ site.title }}</a></h1>
		<h2 class="site-description animated fadeIn" itemprop="description">{{ site.description }}</h2>
	</div>
</header><!-- /.masthead -->{% endif %}

<div class="js-menu-screen menu-screen"></div>
